{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <h2>Contact Us</h2>
    <div class="row">
        <div class="col-md-6">
            <h3>Our Locations</h3>
            <address>
                <strong>Main Office:</strong><br>
                123 Main Street<br>
                City, State ZIP<br>
                Country<br>
            </address>
            <address>
                <strong>Branch Office:</strong><br>
                456 Branch Avenue<br>
                City, State ZIP<br>
                Country<br>
            </address>
        </div>
        <div class="col-md-6">
            <h3>Contact Information</h3>
            <p><strong>Email:</strong> info@example.com</p>
            <p><strong>Phone:</strong> +1 (123) 456-7890</p>
            <p><strong>Fax:</strong> +1 (123) 456-7890</p>
        </div>
    </div>
    <hr>
    <h3>Find Us on the Map</h3>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12345.678910111213!2dLongitude!3dLatitude!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDXCsDU4JzI1LjMiTiAxM8KwMDcnMjkuMCJF!5e0!3m2!1sen!2sus!4v1647046867479!5m2!1sen!2sus" allowfullscreen></iframe>
    </div>
</div>
{% endblock %}
